.checkout-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.checkout-total {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  flex-direction: row;
  align-items: center;
}